Package: com.tr1fecta.weatherground
Name: WeatherGround
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: tr1fecta
Author: tr1fecta
Section: Tweaks
